*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
compiler.xml
/.idea/misc.xml
misc.xml
/misc.xml
/.idea/vcs.xml
/.idea/gradle.xml
/gradle.xml
gradle.xml
/.idea/modules/jarRepositories.xml

